*{
    margin:  0px;
    padding: 0px;
    box-sizing:  border-box;
}
body{
    background-color: blue;
}
.keeper{
    margin-top: 50px;
    margin-left: 500px;
}
.keeper input{
    padding: 10px;
    border-radius: 10px;
    background-color:  white;
}
.keeper p {
    font-size: 40px;
}
.keeper button {
    padding: 10px;
    border-radius: 10px;

}